/* General layout */

body {
	background: #eee;
	font : 76% Verdana, Tahoma, Arial, sans-serif;
	margin : 0 0 1px 0;
	padding : 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
}

/* Tags */

#wrap_top{
background : #A19A88;
border-color: #373E27;
color : #838378;
margin : 0 auto;
padding : 0 0 0 0;
width : 100%;
height: 10px;
}

#wrap_a {
background: url(img/back_3.jpg) repeat-x;
color : #838378;
margin : 0 auto;
padding : 0 0 0 0;
height: 179px;
width : 100%;
}

#wrap_a2 {
background: #fff;
border-left: 1px solid;
border-right: 1px solid;
border-color: #ddd;
color : #a0a0a0;
margin : 0 auto;
padding : 0 0 0 8px;
width: 980px;
height: 50px;
}

#wrap_b {
background: inherit;
display: inline;
margin : 0 auto;
padding : 0 0 0 0;
height: 35;
width : 100%;
}

#wrap_c {
background: #fff;
display: inline;
margin : 0 auto;
padding : 0 0 0 0;
height: 35;
width : 100%;
}

#wrap_d {
background: #fff;
display: inline;
margin : 0 auto;
padding : 0 0 0 0;
height: 35;
width : 980px;
}

#wrap_1 {
background: -webkit-gradient(linear,left top, left bottom,from(#bbb),to(#eee));
background: -webkit-linear-gradient(top,#bbb,#eee);
background: -moz-linear-gradient(top,#bbb,#eee);
background: -o-linear-gradient(top,#bbb,#eee);
background: linear-gradient(top,#bbb,#eee);
margin : 0 auto;
padding : 0 0 0 0;
height: 250px;
width : 100%;
}

#wrap_2 {
background: url(img/back_5.jpg) repeat-x;
border-color: #fff;
width: 100%;
margin : 0 auto;
padding :  0 0 0 0;
height: 50px;
}

#wrap_3 {
	background: #fff;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #ddd;
	color : #006f43;
	width : 980px;
	font-size: x-large;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 8px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#wrap_3_a {
	overflow: hidden;
	background: inherit;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #ddd;
	color : #040;
	margin : 0 auto;
	padding : 0 0 0 8px;
	width : 980px;
	font-family: Georgia, "Times New Roman", Times, serif;

}
#wrap_5{
background: -webkit-gradient(linear,left top, left bottom,from(#ccc),to(#eee));
background: -webkit-linear-gradient(top,#ccc,#eee);
background: -moz-linear-gradient(top,#ccc,#eee);
background: -o-linear-gradient(top,#ccc,#eee);
background: linear-gradient(top,#ccc,#eee);

margin : 0 auto;
padding : 10px 0 0 0;
width : 100%;
height: 300px;
}
#wrap_4 {
clear: both;
background: url(img/back_lower.jpg) repeat-x;
width: 100%;
margin : 0 auto;
padding : 0 0 0 0;
height: 10px;
}

#wrap_6 {
background: #fff url(img/galalogo.png) top center no-repeat;
margin : 0 auto;
padding : 0 0 0 0;
color : #a0a0a0;
width : 980px;
}



#header {
background : url(img/back_header.jpg) top center no-repeat;
margin : 0 auto;
padding : 10px 0 0 0;
width : 980px;
}

#header_2 {
	background : inherit;
	margin : 0 auto;
	padding : 0 0 0 0;
	width : 980px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #FFF;
}

#header_3 {
background : inherit;
margin : 0 auto;
padding : 0 0 0 0;
width : 980px;
}

#header_4 {
background : #fff;
border-left: 1px solid;
border-right: 1px solid;
border-color: #ddd;
margin : 0 auto;
padding : 0 0 0 8px;
width : 980px;
}

#header_7 {
background : #fff;
border-left: 1px solid;
border-right: 1px solid;
border-color: #ddd;
margin : 0 auto;
padding : 0 8px 0 8px;
width : 980px;
}

#minicart {
text-align: center;
padding : 20px 0 0 0;
}

#ecwidstore {

padding : 5px 0 0 0;

}

/* Menu_1 */

#menuHolder {
	width: 1080px;
	height: 50px;
	position: relative;
	z-index: 100;
}
#menuHolder ul {width:980px; height:50px; padding:0; margin:0; list-style:none; text-align:center; border-color: #00A651;}
#menuHolder ul {background-image:url('img/back_menu2.jpg'); background-repeat:repeat-x;}
#menuHolder ul li {display:inline; margin:0 -4px 0 0;}
#menuHolder ul li a {display:inline-block; padding:7px 15px; font: 14px/28px georgia, arial, sans-serif; letter-spacing: 1px; color:#fff; text-decoration:none;}
#menuHolder ul li.clicked > a {color:#D6CB98;}
#menuHolder ul li ul {position:absolute; left:0; top:0; z-index:-1; background: #ddd;}
#menuHolder ul li ul li a {padding:15px 10px 0 10px; font-size:12px; letter-spacing: .5px; color:#060;}
#menuHolder ul li ul li a:hover {color:#080; text-decoration:underline;}

/* Menu_2 */

#menuHolder_2 {width:980px; height:50px; position:relative; z-index:100;}
#menuHolder_2 ul {width:980px; height:50px; padding:0; margin:0; list-style:none; text-align:center; border-color: #00A651;}

#menuHolder_2 ul li {display:inline; margin:0 -4px 0 0;}
#menuHolder_2 ul li a {display:inline-block; padding:7px 15px; font: 14px/28px georgia, arial, sans-serif; letter-spacing: 1px; color:#fff; text-decoration:none;}
#menuHolder_2 ul li.clicked > a {color:#D6CB98;}
#menuHolder_2 ul li ul {position:absolute; left:0; top:0; z-index:-1; background: #ddd;}
#menuHolder_2 ul li ul li a {padding:15px 10px 0 10px; font-size:12px; letter-spacing: .5px; color:#060;}
#menuHolder_2 ul li ul li a:hover {color:#080; text-decoration:underline;}



/* iStu3 */

.iStu3 {padding:0 0 0 0; margin:0; list-style:none; width:700px; height:480px; overflow:hidden; position:relative; background: inherit;}
.iStu3 li {position:absolute; width:700px; height:480px;}
.iStu3 li a {text-decoration:none; display:block; width:700px; height:480px;}
.iStu3 li a img {
	display: block;
	border: 0;
	display: none;
	font-weight: bold;
	font-style: italic;
}


/* Bookshelf */


ul.topUL {padding:0 0 0 50px; margin:0; list-style:none; width:600px; margin:0 auto; position:relative; z-index:100; font-family:verdana, arial, sans-serif;}
ul.topUL > li {float:left; margin-right:1px; position:relative; z-index:10;}
ul.topUL > li a.p1 {display:block; width:43px; border:2px solid #333; border-width:1px 3px; height:248px; color:#fff; top:0; left:0; text-decoration:none; position:relative;
-o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
}
ul.topUL > li > a span {display:block; width:43px; white-space:nowrap; position:absolute; left:0px; top:200px;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}
ul.topUL > li.b1 > a {background:#562; border-color:#340;
background: -moz-linear-gradient(0, #562, #784 50%, #562 100%);  
background: -webkit-gradient(linear, 0 0, 100% 0, from(#562), color-stop(50%, #784), color-stop(100%, #562)); 
}
ul.topUL > li.b2 > a {background:#366; border-color:#144;
background: -moz-linear-gradient(0, #366, #688 50%, #366 100%);  
background: -webkit-gradient(linear, 0 0, 100% 0, from(#366), color-stop(50%, #688), color-stop(100%, #366)); 
}
ul.topUL > li.b3 > a {background:#246; border-color:#024;
background: -moz-linear-gradient(0, #246, #579 50%, #246 100%);  
background: -webkit-gradient(linear, 0 0, 100% 0, from(#246), color-stop(50%, #579), color-stop(100%, #246)); 
}
ul.topUL > li.b4 > a {background:#222; border-color:#520;
background: -moz-linear-gradient(0, #222, #a74 50%, #7222 100%);  
background: -webkit-gradient(linear, 0 0, 100% 0, from(#741), color-stop(50%, #a74), color-stop(100%, #741)); 
}
ul.topUL > li.b5 > a {background:#623; border-color:#401;
background: -moz-linear-gradient(0, #623, #956 50%, #623 100%);  
background: -webkit-gradient(linear, 0 0, 100% 0, from(#623), color-stop(50%, #956), color-stop(100%, #623)); 
}

ul.topUL ul.sub {padding:0; list-style:none; position:absolute; left:-51px; top:230px; width:0; overflow:hidden; height:250px; margin:0 0 20px 0;
-o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

-webkit-transition: 0s;
-moz-transition: 0s;
-o-transition: 0s;
transition: 0s;
transition-delay:0s;
-o-transition-delay: 0s;
-moz-transition-delay: 0s;
-ms-transition-delay: 0s;
-webkit-transition-delay: 0s;
}

ul.topUL > li.b1 > ul {background:#784;}
ul.topUL > li.b2 > ul {background:#688;}
ul.topUL > li.b3 > ul {background:#579;}
ul.topUL > li.b4 > ul {background:#222;}
ul.topUL > li.b5 > ul {background:#956;}

ul ul li.content {width:0; height:190px; position:absolute; left:0; top:10px; background:#eee; padding:40px 0 0 0; text-indent:20px; font-size:11px; color:#444; overflow:hidden;
-o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

-webkit-transition: 0s;
-moz-transition: 0s;
-o-transition: 0s;
transition: 0s;
transition-delay: 0s;
-o-transition-delay: 0s;
-moz-transition-delay: 0s;
-ms-transition-delay: 0s;
-webkit-transition-delay: 0s;
}
ul ul li b {display:block;}
ul ul li a {text-decoration:none; color:#444; padding-left:20px; line-height:20px;}
ul ul li a:hover {color:#000; text-decoration:underline;}

ul ul li.cover {width:0; height:220px; position:absolute; padding-top:30px; text-indent:10px; font-size:14px font-weight:bold; color:#fff; left:0; top:0; z-index:100; overflow:hidden; white-space:nowrap;}

ul ul li.cover i {font-weight:normal; font-style:normal; font-size:10px; line-height:40px; padding-left:10px;}
ul ul li.cover em {display:block; font-weight:normal; font-style:normal; margin-top:120px; font-size:10px; line-height:40px;}

ul.topUL > li.b1 li.cover {background:#562;
background: -moz-linear-gradient(0, #562, #784 100%);  
background: -webkit-gradient(linear, 0 0, 100% 0, from(#562), color-stop(100%, #784)); 
}
ul.topUL > li.b2 li.cover {background:#366;
background: -moz-linear-gradient(0, #366, #688 100%);  
background: -webkit-gradient(linear, 0 0, 100% 0, from(#366), color-stop(100%, #688)); 
}
ul.topUL > li.b3 li.cover {background:#246;
background: -moz-linear-gradient(0, #246, #579 100%);  
background: -webkit-gradient(linear, 0 0, 100% 0, from(#246), color-stop(100%, #579)); 
}
ul.topUL > li.b4 li.cover {background:#741;
background: -moz-linear-gradient(0, #741, #a74 100%);  
background: -webkit-gradient(linear, 0 0, 100% 0, from(#741), color-stop(100%, #a74)); 
}
ul.topUL > li.b5 li.cover {background:#623;
background: -moz-linear-gradient(0, #623, #956 100%);  
background: -webkit-gradient(linear, 0 0, 100% 0, from(#623), color-stop(100%, #956)); 
}


ul.topUL > li:hover {direction:ltr; z-index:100;}
ul.topUL > li:hover a.p1 {top:230px;left:-100px;
-o-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
-moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
-webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);

-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
transition-delay: 0s;
-o-transition-delay: 0s;
-moz-transition-delay: 0s;
-ms-transition-delay: 0s;
-webkit-transition-delay: 0s;
}

ul.topUL li:hover ul {width:200px;
-o-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
-moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
-webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);

-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
transition-delay: 0.5s;
-o-transition-delay: .5s;
-moz-transition-delay: 0.5s;
-ms-transition-delay: 0.5s;
-webkit-transition-delay: 0.5s;
}
ul.topUL li:hover ul li.cover {width:200px;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
}

ul.topUL li:hover ul li.content {width:190px;
background: -moz-linear-gradient(0, #ddd, #fff 50%);  
background: -webkit-gradient(linear, 0 0, 100% 0, from(#ddd), color-stop(50%, #fff)); 
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}

ul.topUL li:hover ul:hover {overflow:visible;}

ul.topUL li.b1:hover ul:hover li.cover {border-right:4px solid #451;}
ul.topUL li.b2:hover ul:hover li.cover {border-right:4px solid #255;}
ul.topUL li.b3:hover ul:hover li.cover {border-right:4px solid #135;}
ul.topUL li.b4:hover ul:hover li.cover {border-right:4px solid #630;}
ul.topUL li.b5:hover ul:hover li.cover {border-right:4px solid #512;}

ul.topUL li.b1:hover ul:hover li.cover {border-right:4px solid #451;}
ul.topUL li.b2:hover ul:hover li.cover {border-right:4px solid #255;}
ul.topUL li.b3:hover ul:hover li.cover {border-right:4px solid #135;}
ul.topUL li.b4:hover ul:hover li.cover {border-right:4px solid #630;}
ul.topUL li.b5:hover ul:hover li.cover {border-right:4px solid #512;}

ul.topUL li:hover ul:hover li.cover {left:-2px; width:1px; height:235px; top:-15px; padding-top:45px;
-o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
}

.shelf {clear:left; width:600px; height:25px; background:#620; margin:0 auto; 
background: -moz-linear-gradient(90deg, #620, #950 20%, #620 30%);  
background: -webkit-gradient(linear, 0 100%, 0 0 , from(#620), color-stop(20%, #950), color-stop(30%, #620)); 
-o-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
-moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
-webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
}

/* Leftside */

#leftside {
clear: left;
float : left;
background: inherit;
border-color: #eeeeee;
border-right: 1px solid;
line-height : 1.3em;
margin : 0 0 0 0;
padding: 0 0 0 3px;
width : 760px;	

}

#leftside p {
font-family : georgia;
font-size : 1.1em;
color: #474747;
line-height : 1.4em;
margin : 0 5px 0 0;
padding: 5px 0 0 1px;
}

#leftside h1 {
font-family: georgia;
font-size : 1.7em;
font-weight : 400;
color : #54531F;
letter-spacing : normal;
margin : 8px 0 0 0;
padding : 5px 0 5px 1px;
}

#leftside h2 {
font-family: georgia;
font-size : 1.4em;
font-weight : 400;
color : #54531F;
letter-spacing : normal;
margin : 8px 0 0 0;
padding : 5px 0 5px 1px;
}
#leftside h3 {
font-family: georgia;
font-size : 1.4em;
font-weight : 400;
color : #54531F;
letter-spacing : normal;

margin : 8px 0 0 0;
padding : 5px 0 1px 30px;
}
#leftside h4 {
text-align: center;
font-family: verdana;
font-size : 1.5em;
font-weight : 400;
text-decoration: underline;
color : #696F65;
letter-spacing : normal;
margin : 8px 0 0 0;
padding : 5px 0 5px 0;
}
#leftside h5 {
text-align: center;
font-family: verdana;
font-size : 1.5em;
font-weight : 400;
color : #696F65;
letter-spacing : normal;
margin : 8px 0 0 0;
padding : 5px 0 5px 0;
}

#leftside a {
font-family : georgia;
font-size : 1.1em;
color : #54531F;
font-weight : 400;
text-decoration : underline;
}

#leftside a:hover {
color: #474747;
text-decoration : none;
}


/* Rightside */

#rightside {
	float: right;
	background: inherit;
	text-align: left;
	margin: 0 0 0 0;
	padding: 5px 0 0 0;
	width: 250px;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
#rightside ul {
font-family : verdana;
font-size : 1.1em;
color : #a0a0a0;
line-height : 1.4em;
margin : 0 0 0 20px;
padding : 0 0 0 30px;
}
#rightside p {
font-family : georgia;
font-size : 1.2em;
color: #474747;
line-height : 1.3em;
margin : 0 0 0 10px;
padding : 0 0 0 0;
}
#rightside ul ul li a {
font-weight: 400;
}
#rightside h1 {
	text-align: center;
	font-family: georgia;
	background: inherit;
	font-size : 1.3em;
	font-weight : 400;
	color : #18582D;
	letter-spacing : normal;
	margin : 8px 0 0 0;
	padding : 5px 0 5px 0;
}
#rightside h2 {
font-family: georgia;
font-size : 1.4em;
font-weight : 400;
color : #060;
margin : 0 0 0 0;
padding : 0 0 10px 0;
}
#rightside h3 {
font-family: verdana;
font-size : 1.3em;
font-weight : 400;
color : #000;
letter-spacing : normal;
margin : 3px 0 0 0;
padding : 0;
}
#rightside h4 {
font-family: verdana;
color : #000;
letter-spacing : normal;
font-size : 1.3em;
margin : 10px 0 0 20px;
padding : 0;
}
#rightside h5 {
font-family: verdana;
color : #777;
font-size : 1.3em;
margin : 15px 0 0 10px;
padding : 0 0 0 0;
}
#rightside a {
background : inherit;


color : #060;
text-decoration : underline;
font-weight : 400;
}
#rightside a:hover {
	color : #474747;
	text-decoration: underline;
	font-size: 1 em;
}
#rightside ul {
font-family : georgia;
font-size : 1.1em;
color : #474747;
line-height : 1.2em;
margin : 0 0 20px 2px;
padding : 0 0 0 0;
}
#rightside ul li {
float : left;
line-height : 1.1em;
list-style : none;
margin : 0 0 7px 0;
padding : 0;
}
#rightside ol {
font-family : verdana;
font-size : 1.2em;
color : #474747;
line-height : 1.4em;
margin : 0 0 20px 25px;
padding : 0 0 0 0;
}
#rightside ol li {
float : left;
line-height : 1.4em;
margin : 0 0 0 10px;
padding : 0;
}


/* Rightside_2 */

#rightside_2 {
float: right;
background: inherit;
border-left: 1px solid;
border-color: #ddd;
text-align: left;
margin: 0 0 0 0;
padding: 5px 0 0 0;	
width: 300px;
}
#rightside_2 ul {
font-family : verdana;
font-size : 1.1em;
color : #a0a0a0;
line-height : 1.4em;
margin : 0 0 0 20px;
padding : 0 0 0 30px;
}
#rightside_2 p {
font-family : georgia;
font-size : 1.2em;
color: #474747;
line-height : 1.3em;
margin : 0 0 0 10px;
padding : 0 0 0 0;
}
#rightside_2 ul ul li a {
font-weight: 400;
}
#rightside_2 h1 {
text-align: center;
font-family: georgia;
background: inherit;
font-size : 1.7em;
font-weight : 400;
color : #060;
letter-spacing : normal;
margin : 8px 0 0 0;
padding : 5px 0 5px 0;
}
#rightside_2 h2 {
font-family: georgia;
font-size : 1.4em;
font-weight : 400;
color : #060;
margin : 0 0 0 0;
padding : 0 0 10px 0;
}
#rightside_2 h3 {
font-family: georgia;
font-size : 1.2em;
font-weight : 400;
color : #060;
letter-spacing : normal;
margin : 8px 0 0 8px;
padding : 12px 0 5px 0;
}
#rightside_2 h4 {
font-family: verdana;
color : #000;
letter-spacing : normal;
font-size : 1.3em;
margin : 10px 0 0 20px;
padding : 0;
}
#rightside_2 h5 {
font-family: verdana;
color : #777;
font-size : 1.3em;
margin : 15px 0 0 10px;
padding : 0 0 0 0;
}
#rightside_2 a {
background : inherit;
color : #060;
text-decoration : none;
font-weight : 400;
}
#rightside_2 a:hover {
color : #474747;
text-decoration: underline;
}
#rightside_2 ul {
list-style-type: none;
font-family : georgia;
font-size : 1.1em;
color : #474747;
line-height : 1.2em;
margin : 0 0 0 12px;

}
#rightside_2 ul li {
margin : 0 0 2px 5px;
padding : 0;
}
#rightside_2 ol {
font-family : verdana;
font-size : 1.2em;
color : #474747;
line-height : 1.4em;
margin : 0 0 20px 25px;
padding : 0 0 0 0;
}
#rightside_2 ol li {
float : left;
line-height : 1.4em;
margin : 0 0 0 10px;
padding : 0;
}




/* Contentwide */

#contentwide {
	font-family : Georgia, "Times New Roman", Times, serif;
	color: #474747;
	background: inherit;
	line-height : 1.4em;
	text-align : left;
	font-size: 15px;
	margin-top: 0;
	margin-right: 260px;
	margin-bottom: 0;
	margin-left: 0;
	padding: 0;
}
#contentwide p {
	font-family : georgia;
	font-size : 12pt;
	color: #474747;
	line-height : 1.4em;
	margin : 0 5px 0 8px;
	padding: 10px 0 0 1px;
	font-weight: normal;
	font-style: normal;
}
#contentwide p2 {
	font-family : georgia;
	font-size : 14pt;
	color: #474747;
	line-height : 1.4em;
	margin : 0 5px 0 8px;
	padding: 10px 0 0 1px;
	font-weight: normal;
	font-style: normal;
	
}
#contentwide p3 {
	font-family : georgia;
	font-size : 6pt;
	color: #474747;
	line-height : 1.2em;
	margin : 0 5px 0 8px;
	padding: 10px 0 0 1px;
	font-weight: normal;
	font-style: normal;
}

#contentwide h1 {
font-family: georgia;
font-size : 1.7em;
font-weight : 400;
color : #060;
letter-spacing : normal;
margin : 8px 0 0 8px;
padding : 12px 0 5px 0;

}
#contentwide h2 {
font-family: georgia;
font-size : 1.4em;
font-weight : 400;
color : #060;
letter-spacing : normal;
margin : 8px 0 0 8px;
padding : 12px 0 5px 0;
}
#contentwide h3 {
font-family: georgia;
font-size : 1.2em;
font-weight : 400;
color : #060;
letter-spacing : normal;
margin : 8px 0 0 8px;
padding : 12px 0 5px 0;
}
#contentwide h4 {
font-size : 1.3em;
font-weight : 400;
color : #c98300;
letter-spacing : -1px;
margin : 8px 0 0 6px;
padding : 0;
}
#contentwide h8 {
font-family: georgia;
font-size : 2.4em;
font-weight : 400;
color : #060;
letter-spacing : normal;
margin : 8px 0 0 8px;
padding : 12px 0 5px 0;

}

#contentwide ul, #contentwide ol {
margin : 0 0 0 12px;
}
#contentwide ul ul, #contentwide ol ol {
margin : 2px 0 2px 5px;
}
#contentwide li {
margin : 0 0 2px 5px;
padding : 0;
}
#contentwide a {
	background : inherit;
	color : #060;
	font-size : 1em;
	text-decoration : none;
	font-weight : 400;
}
#contentwide a:hover {
	color : #040;
	text-decoration: underline;
	font-size: 1 em;
}
#contentwide .green {
color: #060;
}

/* Contentwide2 */


#contentwide_2 {
	font-family : georgia;
	color: #000;
	background: inherit;
	line-height : 1.4em;
	color : #040;
	margin : 0 0 0 0;
	padding : 0 0 0 0;
	text-align : left;
}
#contentwide_2 p {
font-family : georgia;
font-size : 1.2em;
color: #474747;
line-height : 1.4em;
margin : 0 5px 0 8px;
padding: 10px 0 0 1px;
}
#contentwide_2 h1 {
	font-family: georgia;
	font-size : 2.5em;
	font-weight : 400;
	color : #040;
	letter-spacing : normal;
	margin : 8px 0 0 8px;
	padding : 12px 0 5px 0;
}
#contentwide_2 h2 {

font-family: georgia;
font-size : 1.8em;
font-weight : 400;
color : #474747;
letter-spacing : normal;
margin : 1px 0 0 8px;
padding : 1px 0 0 0;
}
#contentwide_2 h3 {
font-family: georgia;
font-size : 1.2em;
font-weight : 400;
color : #060;
letter-spacing : normal;
margin : 0 0 0 8px;
padding : 0 0 0 0;
}
#contentwide_2 h4 {
font-size : 1.3em;
font-weight : 400;
color : #c98300;
letter-spacing : -1px;
margin : 8px 0 0 6px;
padding : 0;
}
#contentwide_2 h5 {
	font-family: "copperplate gothic";
	font-size : 1.8em;
	font-weight : 400;
	color : #040;
	letter-spacing : normal;
	margin : 5px 0 0 0;
	padding : 0 0 1px 0;
}
#contentwide_2 ul, #contentwide_2 ol {
margin : 0 0 0 12px;
}
#contentwide_2 ul ul, #contentwide_2 ol ol {
margin : 2px 0 2px 5px;
}
#contentwide_2 li {
margin : 0 0 2px 5px;
padding : 0;
}
#contentwide_2 a {
background : inherit;
color : #060;
font-size : 1em;
text-decoration : none;
font-weight : 400;
}
#contentwide_2 a:hover {
color : #474747;
text-decoration: underline;
}
#contentwide_2 .green {
color: #060;
}

/* Contentwide_3 */
#contentwide_3 {
font-family : georgia;
color: #474747;
background: inherit;
line-height : 1.4em;
margin : 0 auto;
padding : 0 0 0 0;
width: 900px;
text-align : center;
}
#contentwide_3 p {
font-family : georgia;
font-size : 1.2em;
color: #474747;
line-height : 1.4em;
margin : 0 5px 0 8px;
padding: 10px 0 0 1px;
width: 900px;
}

#contentwide_3 h1 {
font-family: georgia;
font-size : 1.7em;
font-weight : 400;
color : #060;
letter-spacing : normal;
margin : 8px 0 0 8px;
padding : 12px 0 5px 0;
width: 900px;

}
#contentwide_3 h2 {
font-family: georgia;
font-size : 1.4em;
font-weight : 400;
color : #060;
letter-spacing : normal;
margin : 8px 0 0 8px;
padding : 12px 0 5px 0;
width: 900px;
}
#contentwide_3 h3 {
font-family: georgia;
font-size : 1.2em;
font-weight : 400;
color : #060;
letter-spacing : normal;
margin : 8px 0 0 8px;
padding : 12px 0 5px 0;
width: 900px;
}
#contentwide_3 h4 {
font-size : 1.3em;
font-weight : 400;
color : #c98300;
letter-spacing : -1px;
margin : 8px 0 0 6px;
padding : 0;
width: 900px;
}

#contentwide_3 ul, #contentwide_3 ol {
margin : 0 0 0 12px;
}
#contentwide_3 ul ul, #contentwide_3 ol ol {
margin : 2px 0 2px 5px;
}
#contentwide_3 li {
margin : 0 0 2px 5px;
padding : 0;
}
#contentwide_3 a {
background : inherit;
color : #060;
font-size : 1em;
text-decoration : none;
font-weight : 400;
}
#contentwide_3 a:hover {
color : #474747;
text-decoration: underline;
}
#contentwide_3 .green {
color: #060;
}
#contentwide_4 {
	font-family : Georgia, "Times New Roman", Times, serif;
	color: #474747;
	background: inherit;
	line-height : 1.4em;
	margin : 0 auto;
	padding : 0 0 0 0;
	width: 930px;
	text-align : justify;
	font-size: 18px;
	font-style: normal;
}
#contentwide_4 p {
	font-family : georgia;
	font-size : 18px;
	color: #474747;
	line-height : 1.4em;
	
	width: 930px;
}
/* Facebook Connect */

#facebook_right  {
background : #ccc;
width : 260px;
height : 66px;

}


/* Banner */

#banner_left  {
width : 100px;
height: 82px;
position : fixed;
top : 300px;
left : 20px;
background : none;
}

#banner_left_2  {
width : 133px;
height : 98px;
position : fixed;
top : 50px;
left : 10px;
background : none;
}

#banner_left_3  {
width : 150px;
height : 40px;
position : fixed;
top : 360px;
left : 30px;
background : none;
}

#banner_right  {
width : 100px;
position : fixed;
top : 36px;
right : 5px;
background : none;
}

#banner_right_2  {
position : fixed;
width : 110px;
height : 42px;
top : 300px;
right : 1px;
background : none;
}

/* End Banner */

/* Lower Quarters */

#quarters {
clear:both; 
margin:0 0 120px 0;
}
#quarters h2 {
	width: 225px;
	letter-spacing: normal;
	border-color: #fff;
	color: #040;
	margin: 5px 10px 10px 1px;
	font-size: medium;
}
#quarters h3 {
font-size:1.2em; 
color:#000; 
margin:5px 10px 10px 10px;
}
#quarters p {
font-size:0.9em; 
color:#000; 
margin:0 10px 5px 1px;
}
#quarters a {
color: #777;
text-decoration: none;
}
#quarters a:hover {
	color: #474747;
	text-decoration: none;
	font-size: .09;
}
.q1,.q2,.q3,.q4 {
width:225px; 
margin:0 20px 0 0; 
background: inherit; 

float:left;}


.q1,.q2,.q3 {
	border-right: 1px solid;
	border-color: #aeaeae;
	font-size: smaller;
}

.q4 {
	margin: 0;
	font-size: smaller;
}


#lower {
margin: 0 auto;
padding : 10px 0 10px 0;
width: 980px;

}

#middle {
margin: 0 auto;
padding : 10px 0 0  0;
width: 980px;

}

#third {
clear: both;
margin:0 0 20px 0;
}
#third h2 {
font-family: copperplate gothic light;
font-size:1.4em;
letter-spacing: 1px; 
color:#040; 
margin:0 0 3px 0;
}

#third h3 {
font-family: georgia;
font-size:1.2em; 
color:#040; 
margin:0 0 5px 0;
}
#third p {
font-size:0.9em; 
color:#000; 
margin:0 10px 5px 1px;
}
#third a {
color: #040;
text-decoration: none;
}
#third a:hover {
color: #474747;
text-decoration: none;
}
.t1 {
width:318px; 
margin:0 5px 0 0; 
background: inherit; 
float: left;}

.t2 {
width:318px; 
margin:0 0 30px 0; 
background: inherit; 
float: left}

.t3 {
width:318px; 
margin:0; 
background: inherit; 
float: right;}

.t1,.t2 {

border-color: #aeaeae;
}

.t3 {
margin:0;
}

/* Footer */

#footer {
clear: both;
margin : 0 auto;
color : #fff;
font-size : 0.9em;
padding : 40px 0 30px 0;
text-align : center;
width : 980px;
}
#footer p {
	background : inherit;
	font-family : verdana;
	font-size : smaller;
	color : #777;
	font-weight : 400;
	text-decoration : none;
	margin : 0 0 0 0;
	padding : 0;
}
#footer a {
background : inherit;
font-family : verdana;
font-size : 1.1em;
color : #060;
font-weight : 400;
text-decoration : none;
}
#footer a:hover {
color: #252525;
text-decoration : underline;
}

/* Other */

#blockquote {
background: #777;
border-color: #000099; 
margin: 5px 15px 0 15px; 
padding: 0;
} 
#blockquote p {
font-family : verdana;
font-size : 1.1em;
color: #252525;
line-height : 1.4em;
margin:0;
}
#blockquote a {
background : inherit;
font-family : verdana;
font-size : 1.0em;
color : #000099;
font-weight : 400;
text-decoration : underline;
}
#blockquote a:hover {
color: #FBD702;
text-decoration : none;
}

#date {
font-family : verdana;
font-size : 1.5em;
color: #696F65;
font-weight : 400;
text-align : center;
margin : 20px 0 0 0;
padding : 0;
}



/* Misc. */

.events {
margin : 0 0 0 15px;
padding : 0 0 5px 0;
}
.personnel {
margin : 0 0 0 15px;
padding : 0 0 5px 0;
}
.article {
border-color: #ddd;
border-top: 1px solid;
margin : 0 0 0 0;
padding : 0 0 0 0;
height: 25px;
}
.textleft {
float: left;
margin : 0 0 0 100px;
}
.textright {

float: right;
margin : 0 50px 0 0;
padding : 0 100px 0 0;

}

a img {
border : 0;
}

.face_box {
background: inherit;
border: none;
text-align: center;
margin: 15px 0 0 5px;
padding: 0 0 0 0;
width: 240px;
}

.feedback {
border: none;
margin: 10px 0 0 1px;
padding: 0 0 0 0;
}

.orderform {
float: left;
margin: 20px 2px 0 2px;
padding: 0 0 0 0;
}
.widget {
float: left;
border: none;
margin: 20px 0 10px 46px;
padding: 0 0 0 0;
}
.img_left {
float: left;
border: none;
margin: 10px 12px 5px 0;
padding: 0 0 0 0;
}
.img_left_logo {
float: left;
border: none;
margin: 30px 12px 0 0;
padding: 0 0 0 0;
}
.img_store {
text-align: center;
border: none;
margin: 10px 0 0 0;
padding: 0 0 0 0;
}
.img_right {
float: right;
border: none;
margin: 0 7px 0 0;
padding: 0 0 5px 10px;
}

.img_order {
float: right;
border: none;
margin: 0 37px 0 0;
padding: 0 0 20px 10px;
}


.img_center {
	display : block;
	
		font-family: Georgia, "Times New Roman", Times, serif;
	font-size: medium;
	color: #040;
	
	text-align: center;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.img_special {
float: right;
border: none;
margin: 0 0 0 0;
padding: 0 10px 10px 0;
}
.img_special_2 {
float: left;
border: none;
margin: 0 0 0 0;
padding: 0 0 10px 10px;
}

.right {
float : right;
margin: 3px 0 0 0;
border : none;
}
.center {
	display : block;
	text-align : center;
	margin : 0 auto;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: medium;
	color: #070;
}
.textcenter {
text-align: center;
color: #252525;
font-family : verdana, arial;
font-size : .9em;
margin: 5px 10px 0 10px;
padding : 1px 0 0 7px;
}
.textright {
margin : -10px 0 4px;
text-align : right;
}
.warrior {
margin: 5px 10px 0 10px;
padding: 0 0 0 0;
}


/* HighSlide */


/**
* @file: highslide.css 
* @version: 4.1.9
*/
.highslide-container div {
	font-family: Verdana, Helvetica;
	font-size: 10pt;
}
.highslide-container table {
	background: none;
}
.highslide {
	outline: none;
	text-decoration: none;
}
.highslide img {
	border: 2px solid silver;
}
.highslide:hover img {
	border-color: gray;
}
.highslide-active-anchor img {
	visibility: hidden;
}
.highslide-gallery .highslide-active-anchor img {
	border-color: black;
	visibility: visible;
	cursor: default;
}
.highslide-image {
	border-width: 2px;
	border-style: solid;
	border-color: white;
}
.highslide-wrapper, .highslide-outline {
	background: #aeaeae;
}
.glossy-dark {
	background: #111;
}

.highslide-image-blur {
}
.highslide-number {
	font-weight: bold;
	color: gray;
	font-size: .9em;
}
.highslide-caption {
	display: none;
	font-size: 1em;
	padding: 5px;
	/*background: white;*/
}
.highslide-heading {
	display: none;
	font-weight: bold;
	margin: 0.4em;
}
.highslide-dimming {
	/*position: absolute;*/
	background: black;
}
a.highslide-full-expand {
   background: url(graphics/fullexpand.gif) no-repeat;
   display: block;
   margin: 0 10px 10px 0;
   width: 34px;
   height: 34px;
}
.highslide-loading {
	display: block;
	color: black;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 3px;
	border: 1px solid white;
	background-color: white;
	padding-left: 22px;
	background-image: url(graphics/loader.white.gif);
	background-repeat: no-repeat;
	background-position: 3px 1px;
}
a.highslide-credits,
a.highslide-credits i {
	padding: 2px 0 0 10px;
	color: #060;
	text-decoration: none;
	font-size: 10px;
}
a.highslide-credits:hover,
a.highslide-credits:hover i {
	color: white;
	background-color: gray;
}
.highslide-move, .highslide-move * {
	cursor: move;
}

.highslide-viewport {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: none;
	left: 0;
	top: 0;
}
.highslide-overlay {
	display: none;
}
.hidden-container {
	display: none;
}
/* Example of a semitransparent, offset closebutton */
.closebutton {
	position: relative;
	top: -15px;
	left: 15px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url(graphics/close.png);
	/* NOTE! For IE6, you also need to update the highslide-ie6.css file. */
}

/*****************************************************************************/
/* Thumbnail boxes for the galleries.                                        */
/* Remove these if you are not using a gallery.                              */
/*****************************************************************************/
.highslide-gallery ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.highslide-gallery ul li {
	display: block;
	position: relative;
	float: left;
	width: 106px;
	height: 106px;
	border: 1px solid silver;
	background: #ededed;
	margin: 2px;
	line-height: 0;
	overflow: hidden;
}
.highslide-gallery ul a {
	position: absolute;
	top: 50%;
	left: 50%;
}
.highslide-gallery ul img {
 	position: relative;
	top: -50%;
	left: -50%;
}
html>/**/body .highslide-gallery ul li {
	display: table;
	text-align: center;
}
html>/**/body .highslide-gallery ul li {
	text-align: center;
}
html>/**/body .highslide-gallery ul a {
	position: static;
	display: table-cell;
	vertical-align: middle;
}
html>/**/body .highslide-gallery ul img {
	position: static;
}

/*****************************************************************************/
/* Controls for the galleries.											     */
/* Remove these if you are not using a gallery							     */
/*****************************************************************************/
.highslide-controls {
	width: 195px;
	height: 40px;
	background: url(graphics/controlbar-white.gif) 0 -90px no-repeat;
	margin: 20px 15px 10px 0;
}
.highslide-controls ul {
	position: relative;
	left: 15px;
	height: 40px;
	list-style: none;
	margin: 0;
	padding: 0;
	background: url(graphics/controlbar-white.gif) right -90px no-repeat;

}
.highslide-controls li {
	float: left;
	padding: 5px 0;
	margin:0;
	list-style: none;
}
.highslide-controls a {
	background-image: url(graphics/controlbar-white.gif);
	display: block;
	float: left;
	height: 30px;
	width: 30px;
	outline: none;
}
.highslide-controls a.disabled {
	cursor: default;
}
.highslide-controls a.disabled span {
	cursor: default;
}
.highslide-controls a span {
	/* hide the text for these graphic buttons */
	display: none;
	cursor: pointer;
}


/* The CSS sprites for the controlbar - see http://www.google.com/search?q=css+sprites */
.highslide-controls .highslide-previous a {
	background-position: 0 0;
}
.highslide-controls .highslide-previous a:hover {
	background-position: 0 -30px;
}
.highslide-controls .highslide-previous a.disabled {
	background-position: 0 -60px !important;
}
.highslide-controls .highslide-play a {
	background-position: -30px 0;
}
.highslide-controls .highslide-play a:hover {
	background-position: -30px -30px;
}
.highslide-controls .highslide-play a.disabled {
	background-position: -30px -60px !important;
}
.highslide-controls .highslide-pause a {
	background-position: -60px 0;
}
.highslide-controls .highslide-pause a:hover {
	background-position: -60px -30px;
}
.highslide-controls .highslide-next a {
	background-position: -90px 0;
}
.highslide-controls .highslide-next a:hover {
	background-position: -90px -30px;
}
.highslide-controls .highslide-next a.disabled {
	background-position: -90px -60px !important;
}
.highslide-controls .highslide-move a {
	background-position: -120px 0;
}
.highslide-controls .highslide-move a:hover {
	background-position: -120px -30px;
}
.highslide-controls .highslide-full-expand a {
	background-position: -150px 0;
}
.highslide-controls .highslide-full-expand a:hover {
	background-position: -150px -30px;
}
.highslide-controls .highslide-full-expand a.disabled {
	background-position: -150px -60px !important;
}
.highslide-controls .highslide-close a {
	background-position: -180px 0;
}
.highslide-controls .highslide-close a:hover {
	background-position: -180px -30px;
}

/*****************************************************************************/
/* Styles for the HTML popups											     */
/* Remove these if you are not using Highslide HTML						     */
/*****************************************************************************/
.highslide-maincontent {
	display: none;
}
.highslide-html {
	background-color: #fff;
}
.highslide-maincontent p {
	font-family : georgia;
	font-size : 1.1em;
	color: #474747;
	line-height : 1.2em;
	margin : 0 5px 10px 1px;
	padding: 1px 0 0 1px;
}
.highslide-maincontent h2 {
	font-family: copperplate gothic light;
	letter-spacing: 1px; 
	font-size : 1.5em;
	font-weight : 400;
	color : #050;
	letter-spacing : normal;
}
.highslide-maincontent h3 {
	font-family: georgia;
	font-size : 1.5em;
	font-weight : 400;
	color : #060;
	letter-spacing : normal;
}
.highslide-maincontent h5 {
	font-family: georgia;
	font-size : 1.0em;
	font-weight : 400;
	color : #060;
	letter-spacing : normal;
	text-decoration: italic;
}

.highslide-maincontent a {
	color: #060;
	text-decoration: underline;
}
.highslide-maincontent a:hover {
	color: #333;
	text-decoration: none;
}
.highslide-html-content {
	display: none;
	width: 600px;
	padding: 0 5px 5px 5px;
}
.highslide-header {
	padding-bottom: 5px;
}
.highslide-header ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
.highslide-header ul li {
	display: inline;
	padding-left: 1em;
}
.highslide-header ul li.highslide-previous, .highslide-header ul li.highslide-next {
	display: none;
}
.highslide-header a {
	font-weight: bold;
	color: gray;
	text-transform: uppercase;
	text-decoration: none;
}
.highslide-header a:hover {
	color: black;
}
.highslide-header .highslide-move a {
	cursor: move;
}
.highslide-footer {
	height: 16px;
}
.highslide-footer .highslide-resize {
	display: block;
	float: right;
	margin-top: 5px;
	height: 11px;
	width: 11px;
	background: url(graphics/resize.gif) no-repeat;
}
.highslide-footer .highslide-resize span {
	display: none;
}
.highslide-body {
}
.highslide-resize {
	cursor: nw-resize;
}

/*****************************************************************************/
/* Styles for the Individual wrapper class names.							 */
/* See www.highslide.com/ref/hs.wrapperClassName							 */
/* You can safely remove the class name themes you don't use				 */
/*****************************************************************************/

/* hs.wrapperClassName = 'draggable-header' */
.draggable-header .highslide-header {
	height: 18px;
	border-bottom: 1px solid #dddddd;
}
.draggable-header .highslide-heading {
	position: absolute;
	margin: 2px 0.4em;
}

.draggable-header .highslide-header .highslide-move {
	cursor: move;
	display: block;
	height: 16px;
	position: absolute;
	right: 24px;
	top: 0;
	width: 100%;
	z-index: 1;
}
.draggable-header .highslide-header .highslide-move * {
	display: none;
}
.draggable-header .highslide-header .highslide-close {
	position: absolute;
	right: 2px;
	top: 2px;
	z-index: 5;
	padding: 0;
}
.draggable-header .highslide-header .highslide-close a {
	display: block;
	height: 16px;
	width: 16px;
	background-image: url(graphics/closeX.png);
}
.draggable-header .highslide-header .highslide-close a:hover {
	background-position: 0 16px;
}
.draggable-header .highslide-header .highslide-close span {
	display: none;
}
.draggable-header .highslide-maincontent {
	padding-top: 1em;
}

/* hs.wrapperClassName = 'titlebar' */
.titlebar .highslide-header {
	height: 18px;
	border-bottom: 1px solid #dddddd;
}
.titlebar .highslide-heading {
	position: absolute;
	width: 90%;
	margin: 1px 0 1px 5px;
	color: #666666;
}

.titlebar .highslide-header .highslide-move {
	cursor: move;
	display: block;
	height: 16px;
	position: absolute;
	right: 24px;
	top: 0;
	width: 100%;
	z-index: 1;
}
.titlebar .highslide-header .highslide-move * {
	display: none;
}
.titlebar .highslide-header li {
	position: relative;
	top: 3px;
	z-index: 2;
	padding: 0 0 0 1em;
}
.titlebar .highslide-maincontent {
	padding-top: 1em;
}

/* hs.wrapperClassName = 'no-footer' */
.no-footer .highslide-footer {
	display: none;
}

/* hs.wrapperClassName = 'wide-border' */
.wide-border {
	background: white;
}
.wide-border .highslide-image {
	border-width: 10px;
}
.wide-border .highslide-caption {
	padding: 0 10px 10px 10px;
}

/* hs.wrapperClassName = 'borderless' */
.borderless .highslide-image {
	border: none;
}
.borderless .highslide-caption {
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	background: silver;
}

/* hs.wrapperClassName = 'outer-glow' */
.outer-glow {
	background: #444;
}
.outer-glow .highslide-image {
	border: 5px solid #444444;
}
.outer-glow .highslide-caption {
	border: 5px solid #444444;
	border-top: none;
	padding: 5px;
	background-color: gray;
}

/* hs.wrapperClassName = 'colored-border' */
.colored-border {
	background: white;
}
.colored-border .highslide-image {
	border: 2px solid green;
}
.colored-border .highslide-caption {
	border: 2px solid green;
	border-top: none;
}

/* hs.wrapperClassName = 'dark' */
.dark {
	background: #111;
}
.dark .highslide-image {
	border-color: black black #202020 black;
	background: gray;
}
.dark .highslide-caption {
	color: white;
	background: #111;
}
.dark .highslide-controls,
.dark .highslide-controls ul,
.dark .highslide-controls a {
	background-image: url(graphics/controlbar-black-border.gif);
}

/* hs.wrapperClassName = 'floating-caption' */
.floating-caption .highslide-caption {
	position: absolute;
	padding: 1em 0 0 0;
	background: none;
	color: white;
	border: none;
	font-weight: bold;
}

/* hs.wrapperClassName = 'controls-in-heading' */
.controls-in-heading .highslide-heading {
	color: gray;
	font-weight: bold;
	height: 20px;
	overflow: hidden;
	cursor: default;
	padding: 0 0 0 22px;
	margin: 0;
	background: url(graphics/icon.gif) no-repeat 0 1px;
}
.controls-in-heading .highslide-controls {
	width: 105px;
	height: 20px;
	position: relative;
	margin: 0;
	top: -23px;
	left: 7px;
	background: none;
}
.controls-in-heading .highslide-controls ul {
	position: static;
	height: 20px;
	background: none;
}
.controls-in-heading .highslide-controls li {
	padding: 0;
}
.controls-in-heading .highslide-controls a {
	background-image: url(graphics/controlbar-white-small.gif);
	height: 20px;
	width: 20px;
}

.controls-in-heading .highslide-controls .highslide-move {
	display: none;
}

.controls-in-heading .highslide-controls .highslide-previous a {
	background-position: 0 0;
}
.controls-in-heading .highslide-controls .highslide-previous a:hover {
	background-position: 0 -20px;
}
.controls-in-heading .highslide-controls .highslide-previous a.disabled {
	background-position: 0 -40px !important;
}
.controls-in-heading .highslide-controls .highslide-play a {
	background-position: -20px 0;
}
.controls-in-heading .highslide-controls .highslide-play a:hover {
	background-position: -20px -20px;
}
.controls-in-heading .highslide-controls .highslide-play a.disabled {
	background-position: -20px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-pause a {
	background-position: -40px 0;
}
.controls-in-heading .highslide-controls .highslide-pause a:hover {
	background-position: -40px -20px;
}
.controls-in-heading .highslide-controls .highslide-next a {
	background-position: -60px 0;
}
.controls-in-heading .highslide-controls .highslide-next a:hover {
	background-position: -60px -20px;
}
.controls-in-heading .highslide-controls .highslide-next a.disabled {
	background-position: -60px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-full-expand a {
	background-position: -100px 0;
}
.controls-in-heading .highslide-controls .highslide-full-expand a:hover {
	background-position: -100px -20px;
}
.controls-in-heading .highslide-controls .highslide-full-expand a.disabled {
	background-position: -100px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-close a {
	background-position: -120px 0;
}
.controls-in-heading .highslide-controls .highslide-close a:hover {
	background-position: -120px -20px;
}

/*****************************************************************************/
/* Styles for text based controls.						                     */
/* You can safely remove this if you don't use text based controls			 */
/*****************************************************************************/

.text-controls .highslide-controls {
	width: auto;
	height: auto;
	margin: 0;
	text-align: center;
	background: none;
}
.text-controls ul {
	position: static;
	background: none;
	height: auto;
	left: 0;
}
.text-controls .highslide-move {
	display: none;
}
.text-controls li {
    background-image: url(graphics/controlbar-text-buttons.png);
	background-position: right top !important;
	padding: 0;
	margin-left: 15px;
	display: block;
	width: auto;
}
.text-controls a {
    background: url(graphics/controlbar-text-buttons.png) no-repeat;
    background-position: left top !important;
    position: relative;
    left: -10px;
	display: block;
	width: auto;
	height: auto;
	text-decoration: none !important;
}
.text-controls a span {
	background: url(graphics/controlbar-text-buttons.png) no-repeat;
    margin: 1px 2px 1px 10px;
	display: block;
    min-width: 4em;
    height: 18px;
    line-height: 18px;
	padding: 1px 0 1px 18px;
    color: #333;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
}
.text-controls .highslide-next {
	margin-right: 1em;
}
.text-controls .highslide-full-expand a span {
	min-width: 0;
	margin: 1px 0;
	padding: 1px 0 1px 10px;
}
.text-controls .highslide-close a span {
	min-width: 0;
}
.text-controls a:hover span {
	color: black;
}
.text-controls a.disabled span {
	color: #999;
}

.text-controls .highslide-previous span {
	background-position: 0 -40px;
}
.text-controls .highslide-previous a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-previous a.disabled span {
	background-position: 0 -140px;
}
.text-controls .highslide-play span {
	background-position: 0 -60px;
}
.text-controls .highslide-play a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-play a.disabled span {
	background-position: 0 -160px;
}
.text-controls .highslide-pause span {
	background-position: 0 -80px;
}
.text-controls .highslide-next span {
	background-position: 0 -100px;
}
.text-controls .highslide-next a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-next a.disabled span {
	background-position: 0 -200px;
}
.text-controls .highslide-full-expand span {
	background: none;
}
.text-controls .highslide-full-expand a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-close span {
	background-position: 0 -120px;
}


/*****************************************************************************/
/* Styles for the thumbstrip.							                     */
/* See www.highslide.com/ref/hs.addSlideshow    							 */
/* You can safely remove this if you don't use a thumbstrip 				 */
/*****************************************************************************/

.highslide-thumbstrip {
	height: 100%;
	direction: ltr;
}
.highslide-thumbstrip div {
	overflow: hidden;
}
.highslide-thumbstrip table {
	position: relative;
	padding: 0;
	border-collapse: collapse;
}
.highslide-thumbstrip td {
	padding: 1px;
	/*text-align: center;*/
}
.highslide-thumbstrip a {
	outline: none;
}
.highslide-thumbstrip img {
	display: block;
	border: 1px solid gray;
	margin: 0 auto;
}
.highslide-thumbstrip .highslide-active-anchor img {
	visibility: visible;
}
.highslide-thumbstrip .highslide-marker {
	position: absolute;
	width: 0;
	height: 0;
	border-width: 0;
	border-style: solid;
	border-color: transparent; /* change this to actual background color in highslide-ie6.css */
}
.highslide-thumbstrip-horizontal div {
	width: auto;
	/* width: 100% breaks in small strips in IE */
}
.highslide-thumbstrip-horizontal .highslide-scroll-up {
	display: none;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 25px;
	height: 42px;
}
.highslide-thumbstrip-horizontal .highslide-scroll-up div {
	margin-bottom: 10px;
	cursor: pointer;
	background: url(graphics/scrollarrows.png) left center no-repeat;
	height: 42px;
}
.highslide-thumbstrip-horizontal .highslide-scroll-down {
	display: none;
	position: absolute;
	top: 3px;
	right: 3px;
	width: 25px;
	height: 42px;
}
.highslide-thumbstrip-horizontal .highslide-scroll-down div {
	margin-bottom: 10px;
	cursor: pointer;
	background: url(graphics/scrollarrows.png) center right no-repeat;
	height: 42px;
}
.highslide-thumbstrip-horizontal table {
	margin: 2px 0 10px 0;
}
.highslide-viewport .highslide-thumbstrip-horizontal table {
	margin-left: 10px;
}
.highslide-thumbstrip-horizontal img {
	width: auto;
	height: 40px;
}
.highslide-thumbstrip-horizontal .highslide-marker {
	top: 47px;
	border-left-width: 6px;
	border-right-width: 6px;
	border-bottom: 6px solid gray;
}
.highslide-viewport .highslide-thumbstrip-horizontal .highslide-marker {
	margin-left: 10px;
}
.dark .highslide-thumbstrip-horizontal .highslide-marker, .highslide-viewport .highslide-thumbstrip-horizontal .highslide-marker {
	border-bottom-color: white !important;
}

.highslide-thumbstrip-vertical-overlay {
	overflow: hidden !important;
}
.highslide-thumbstrip-vertical div {
	height: 100%;
}
.highslide-thumbstrip-vertical a {
	display: block;
}
.highslide-thumbstrip-vertical .highslide-scroll-up {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25px;
}
.highslide-thumbstrip-vertical .highslide-scroll-up div {
	margin-left: 10px;
	cursor: pointer;
	background: url(graphics/scrollarrows.png) top center no-repeat;
	height: 25px;
}
.highslide-thumbstrip-vertical .highslide-scroll-down {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}
.highslide-thumbstrip-vertical .highslide-scroll-down div {
	margin-left: 10px;
	cursor: pointer;
	background: url(graphics/scrollarrows.png) bottom center no-repeat;
	height: 25px;
}
.highslide-thumbstrip-vertical table {
	margin: 10px 0 0 10px;
}
.highslide-thumbstrip-vertical img {
	width: 60px; /* t=5481 */
}
.highslide-thumbstrip-vertical .highslide-marker {
	left: 0;
	margin-top: 8px;
	border-top-width: 6px;
	border-bottom-width: 6px;
	border-left: 6px solid gray;
}
.dark .highslide-thumbstrip-vertical .highslide-marker, .highslide-viewport .highslide-thumbstrip-vertical .highslide-marker {
	border-left-color: white;
}

.highslide-viewport .highslide-thumbstrip-float {
	overflow: auto;
}
.highslide-thumbstrip-float ul {
	margin: 2px 0;
	padding: 0;
}
.highslide-thumbstrip-float li {
	display: block;
	height: 60px;
	margin: 0 2px;
	list-style: none;
	float: left;
}
.highslide-thumbstrip-float img {
	display: inline;
	border-color: silver;
	max-height: 56px;
}
.highslide-thumbstrip-float .highslide-active-anchor img {
	border-color: black;
}
.highslide-thumbstrip-float .highslide-scroll-up div, .highslide-thumbstrip-float .highslide-scroll-down div {
	display: none;
}
.highslide-thumbstrip-float .highslide-marker {
	display: none;
}
.localendar-close {
  position: absolute;
  top: 4px;
  right: 4px;
  margin:2px;
  border: none;
}
.localendar-mini td, th {
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  font-family: arial;
  font-size: 12px;
  margin-left: 1px
}
.localendar-label,.localendar-time,.localendar-title {
  font-family:arial;font-size:14px;
}
.localendar-label {
  font-weight:bold;font-size:16px;
}
.localendar-hasEvents {
  background:#4D652E !important;
  cursor: pointer;
}
.localendar-selected {
  background-color: #e6e7e8;
}
.localendar-monthName{
  background-color:#ffffff;
  color: #27351a;
  /* Uncomment this to hide the Month name
  display:none;
  */
}
}
.localendar-balloon{
  text-align:left;
}
#wrap_3 #rightside {
	font-family: Calabri;
}
#wrap_3 #rightside {
	font-style: italic;
}
#wrap_3 #rightside {
	color: #00664F;
}
#wrap_3 #rightside {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	color: #123D1B;
}
#wrap_3 a strong a em {
	font-size: 30px;
	font-family: Calabri;
}
#wrap_3 #contentwide p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #666;
}
#wrap_3 h1 em {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #060;
}
#wrap_3 #rightside div {
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#wrap_3 #contentwide p {
	font-size: 14px;
}
#wrap_3 #contentwide p {
	font-family: Georgia, "Times New Roman", Times, serif;
}
#wrap_3 #contentwide p {
	color: #666;
	font-size: 14.8px;
	font-family: Georgia, "Times New Roman", Times, serif;

	font-size: 14px;
}
#wrap_3 #contentwide h5 {
	font-size: 16px;
}
